.Main {
    margin-top: 10px;
    height: auto;
    width: 100%;
    background-color: var(--gray-4); 
    display: flex;
    justify-content: space-around; 
    flex-direction: column;
    margin: auto;
}

.MyMasonryGrid {
    display: flex;
    margin-left: -60px; 
    width: auto;
    align-self: center;    
}

.MyMasonryGridColumn {
    padding-left: 60px; 
    background-clip: padding-box;
  }
   
.EachItem {
    margin-bottom: 40px;
  }

.PaginationButton {
    font-size: 15px;
    font-family: var(--font);
    font-weight: 700;
    height: 34px;
    width: 34px;
    color: var(--main);
    background-color: white;
    border: 1px solid var(--main);
    cursor: pointer;
  }

  .PaginationButton:hover {
    filter: brightness(115%);
  }

  .PaginationButtonSelected {
    font-size: 15px;
    font-family: var(--font);
    font-weight: 700;
    height: 36px;
    width: 36px;
    color: white;
    background-color: var(--main);
    border: 1px solid white;
    cursor: pointer;
  }

  .PaginationButtonSelected:hover {
    filter: brightness(115%);
  }