.Main {
    margin-top: 10px;
    height: auto;
    width: 100%;
    background-color: var(--gray-4); 
    display: flex;
    justify-content: center; 
}

.MyMasonryGrid {
    display: flex;
    margin-left: -60px; 
    width: auto;
  }
.MyMasonryGridColumn {
    padding-left: 60px; 
    background-clip: padding-box;
  }
   
.EachItem {
    margin-bottom: 40px;
  }