.Main {
    height: max-content;
    width: 350px;
    border: solid 1px var(--gray-2);
    background-color: white;
    margin-top: 30px;
    text-align: left;
    /* padding: 10px 10px 10px 10px; */
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.Main:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.35)
}

.Title {
    margin-top: 5px;
    font-size: x-large;
    color: var(--font-color);
    font-weight: 600;
    font-family: var(--font)
}

.String {
    margin-top: 8px;
    font-family: var(--font);
    color: var(--font-color);
}

.Image {
    margin: auto;
    display: flex;
    width: 350px;
    height: auto;
}

.ImageNotLoaded {
    margin: auto;
    display: flex;
    width: 350px;
    height: auto;
    opacity: .1;
    filter: contrast(50%);
}

/* .ImagePrice {
    right: 0;
    margin-top: -40px;
    position: absolute;
    background-color: var(--very-light-blue);
    border-radius: 10px 0px 0px 10px;
    height: 30px;
    width: 150px;
    color: white;
    font-size: large;
    font-weight: 500;
    padding-left: 10px;
    border: none;
    cursor: pointer;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

.ImagePrice:hover {
    filter: brightness(105%);
    width: 160px;
} */

.CardContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.CheckItOut {
    width: 150px;
    border: solid 1px var(--main);
    background-color: var(--main);
    border-radius: 5px;
    height: 50px;
    font-size: large;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-left: 75px;
}

.CheckItOut:hover {
    filter: brightness(115%);
}